---
layout: layouts/page.njk
title: Schéma pluriannuel de mise en accessibilité
eleventyNavigation:
  key: Schéma pluriannuel de mise en accessibilité
  parent:
  order: 2
---
   <h2>Sommaire</h2>
        <ol>
          <li><a href="#contexte">Contexte</a>
            <ul>
              <li><a href="#missions">Missions du CISIRH</a></li>
              <li><a href="#cadre">Cadre légal</a></li>
              <li><a href="#renvois">Renvois</a></li>
            </ul>

          </li>

          <li>
            <a href="#outils">Outils et ressources</a>
            <ul>
              <li><a href="#ressources">Ressources affectées à l’accessibilité </a>
                <ul>
                  <li><a href="#ressources-internes">Ressources internes</a></li>
                  <li><a href="#ressources-externes">Ressources externes</a></li>
                </ul>
              </li>
              <li><a href="#formation">Actions de formation </a></li>
              <ul>
                <li><a href="#game" lang="en">Game of code</a></li>
                <li><a href="#exigences">Exigences de formation imposées aux prestataires du CISIRH</a></li>
              </ul>
              <li><a href="#sensibilisation">Actions de sensibilisation </a>
                <ul>
                  <li><a href="#sensibilisation-agents">La sensibilisation des agents</a></li>
                  <li><a href="#sensibilisation-encadrement">La sensibilisation de l'encadrement</a></li>
                </ul>
              </li>
              <li><a href="#remontees">Remontées des demandes des usagers </a></li>
              <li><a href="#traitement">Traitement des demandes des usagers </a></li>
              <li><a href="#information">Information des usagers </a></li>
              <li><a href="#integration">Intégration de l’accessibilité dans les procédures de travail </a>
              <ul>
                <li><a href="#integration-marche">Intégration de l'accessibilité dans les procédures de marché</a></li>
                <li><a href="#integration-developpement">Intégration de l'accessibilité dans les procédures de développement</a></li>
                <li><a href="#integration-recette">Intégration de l'accessibilité dans les procédures de recette</a></li>
              </ul>
              </li>
            </ul>
          </li>
          <li><a href="#chantiers">Chantiers</a>
            <ul>
              <li><a href="#evaluations">Évaluations de conformité</a> </li>
              <li><a href="#organisation">Organisation de tests utilisateurs</a> </li>
              <li><a href="#correction">Correction des codes applicatifs et prise en compte de l’accessibilité dans les nouveaux projets</a> </li>
              <li><a href="#script">Développement de scripts afin d'améliorer l'accessibilité du socle d'applications</a> </li>
              <li><a href="#declarations">Déclarations réglementaires</a></li>
              <li><a href="#traduction">Traduction en Français facile à lire et à comprendre (FALC)</a> </li>
            </ul>
          </li>
          <li><a href="#plans">Plans annuels</a>
            <ul>
              <li><a href="#self">Self Mobile</a></li>
              <li><a href="#sicd">SICD Néo/ Vinci</a></li>
              <li><a href="#portail-web">Portail d'authentification unique (Web)</a></li>
              <li><a href="#portail-rie">Portail d'authentification unique (RIE)</a></li>
              <li><a href="#esteve">Estève</a></li>
              <li><a href="#ctdsn">CTDSN</a></li>
              <li><a href="#edsn">Espace DSN</a></li>
              <li><a href="#sicardi_standard">SICARDI (non DSFR)</a></li>
              <li><a href="#sicardi_dsfr">SICARDI (DSFR)</a></li>
              <li><a href="#rebecca"><span lang="en">Chatbot</span> Rebecca</a></li>
              <li><a href="#greco">GRECO</a></li>
              <li><a href="#boite-outils">Boîte à outils du CISIRH</a></li>
              <li><a href="#signac">Système interministériel pour la gestion nominative des administrateurs civils (SIGNAC)</a></li>
              <li><a href="#simulateur">Simulateur de carrière</a></li>
              <li><a href="#riga">RIGA</a></li>
              <li><a href="#portail-barri">Portail du BARRI</a></li>
              <li><a href="#espace-noyau">Espace Noyau RH FPE</a></li>
              <li><a href="#messager">CISIRH Messager</a></li>
            </ul>
          </li>
        </ol>
      </div>
    </nav>
    <main>
      <div class="content">
        <h2>
          <div id="contexte">1. Contexte</div>
        </h2>

        <h3>
          <div id="missions">1.1. Missions du CISIRH</div>
        </h3>
        <p>Le Centre Interministériel de Services Informatiques Relatifs aux Ressources Humaines (CISIRH) est un service à compétence nationale créé par le décret du 9 février 2015.</p>
        <p>Les missions du CISIRH sont définies par le comité de pilotage métier, présidé par la DGAFP et qui est constitué des DRH de tous les ministères.</p>
        <p>Le CISIRH contribue à la modernisation de la fonction « Ressources Humaines » de l’Etat, dans les domaines fonctionnels comme informatiques. Ses missions sont les suivantes :
        </p>
        <ul>
          <li>mettre à disposition des SIRH convergents et adaptés aux besoins de la fonction publique d’Etat;
          </li>
          <li>contribuer à la simplification de la réglementation et à la rénovation des pratiques de gestion RH;
          </li>
          <li>réaliser et exploiter des applications RH innovantes.
          </li>
        </ul>
        <p>Le CISIRH a un rôle clé pour la mise en accessibilité des applications dont il assure la conception, le développement, le maintien ou l’exploitation.
        </p>
        <h3>
          <div id="cadre">1.2. Cadre légal</div>
        </h3>
        <p>L'État garantit que chaque citoyen puisse jouir de ses droits et libertés publiques à égalité avec les autres citoyens, sans discrimination. Or <b>la mise en place d’une application non accessible crée</b> de fait <strong>une inégalité</strong>          de traitement entre les citoyens pouvant y accéder et ceux ne le pouvant pas.
        </p>
        <p>Par conséquent l’Etat s’est engagé de longue date dans une politique de mise en accessibilité de ses applications à l’égard des personnes en situation de handicap.
        </p>
        <p>Les critères à respecter par les applications du CISIRH pour être déclarées accessibles sont recensés dans le <strong>Référentiel Général pour l’Amélioration de l’Accessibilité</strong> (RGAA). La conformité de tous les critères applicables est
          obligatoire.
        </p>
        <p>La loi impose également de publier pour chacune de ses applications une <strong>déclaration d’accessiblité</strong> au RGAA.
        </p>
        <p>Pour plus de détails sur:</p>
        <ul>
          <li>le respect par le CISIRH de ses obligations déclaratives: cf.<a href="#declarations"> « Déclarations réglementaires»</a>; </li>
          <li>les textes réglementaires et légaux : cf. <a href="#renvois">« Renvois »</a>.
          </li>
        </ul>
        <h3>
          <div id="renvois">1.3. Renvois</div>
        </h3>
        <p>La mise en accessibilité des applications du CISIRH s’appuie sur les textes législatifs et réglementaires suivants :
        </p>
        <ul>
          <li>Référentiel général d’amélioration de l’accessibilité RGAA 4.1 ;
          </li>
          <li>Décret n°2019-768 du 24 juillet 2019 relatif à l'accessibilité aux personnes handicapées des services de communication au public en ligne ;
          </li>
          <li>Loi n°2016-1321 du 7 octobre 2016 pour une République numérique (article 106) ;
          </li>
          <li>Directive 2016/2102 du Parlement Européen et du Conseil du 26 octobre 2016 relative à l’accessibilité des sites internet et des applications mobiles des organismes du secteur public (<span lang="en">European Accessibility Act</span>) ;
          </li>
          <li>Règles européennes pour une information facile à lire et à comprendre de 2009 ;
          </li>
          <li>Convention des Nations unies relative aux droits des personnes handicapées de 2006 (ratifiée par la France en 2010) ;
          </li>
          <li>Loi n°2005-102 du 11 février 2005 pour l’égalité des droits et des chances, la participation et la citoyenneté des personnes handicapées (article 47) ;
          </li>
          <li>Circulaire du Premier ministre du 7 octobre 1999 relative aux sites Internet des services et des établissements publics de l’Etat ;
          </li>
          <li>Code pénal (article 225-2).
          </li>
        </ul>
